@import url(./normalize.scss);


:root {
    --basic-color1: #6675F7;
    --basic-color2: #57007b;
}

.button-submit {
    background-image: linear-gradient(90deg, var(--basic-color1), var(--basic-color2));
}

.input {
    border: 1px solid white !important;
}

.form-floating{
    background-image: linear-gradient(90deg, var(--basic-color1), var(--basic-color2));
    padding: 5px;
    border-radius: 10px;
}